@model Dukan.Models.Master.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Row start -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h5 class="card-title">Customer</h5>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card-body">
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="CusName" class="control-label"></label>
                                <input asp-for="CusName" class="form-control" />
                                <span asp-validation-for="CusName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="CusNumber" class="control-label"></label>
                                <input asp-for="CusNumber" class="form-control" />
                                <span asp-validation-for="CusNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="CusAddress" class="control-label"></label>
                                <input asp-for="CusAddress" class="form-control" />
                                <span asp-validation-for="CusAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="CusVehicleNo" class="control-label"></label>
                                <input asp-for="CusVehicleNo" class="form-control" />
                                <span asp-validation-for="CusVehicleNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="CusAadharNo" class="control-label"></label>
                                <input asp-for="CusAadharNo" class="form-control" />
                                <span asp-validation-for="CusAadharNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            Cancel
                        </a>
                        <button type="submit" value="Create" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@* <h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CusName" class="control-label"></label>
                <input asp-for="CusName" class="form-control" />
                <span asp-validation-for="CusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusNumber" class="control-label"></label>
                <input asp-for="CusNumber" class="form-control" />
                <span asp-validation-for="CusNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusAddress" class="control-label"></label>
                <input asp-for="CusAddress" class="form-control" />
                <span asp-validation-for="CusAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusVehicleNo" class="control-label"></label>
                <input asp-for="CusVehicleNo" class="form-control" />
                <span asp-validation-for="CusVehicleNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusAadharNo" class="control-label"></label>
                <input asp-for="CusAadharNo" class="form-control" />
                <span asp-validation-for="CusAadharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@