@model Dukan.Models.Master.ShopDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Row start -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h5 class="card-title">Business Owner</h5>
            </div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card-body">
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="ShopOwnerName" class="control-label"></label>
                                <input asp-for="ShopOwnerName" class="form-control" />
                                <span asp-validation-for="ShopOwnerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="ShopName" class="control-label"></label>
                                <input asp-for="ShopName" class="form-control" />
                                <span asp-validation-for="ShopName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="ShopNumber" class="control-label"></label>
                                <input asp-for="ShopNumber" class="form-control" />
                                <span asp-validation-for="ShopNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="AlternateMobileNumber" class="control-label"></label>
                                <input asp-for="AlternateMobileNumber" class="form-control" />
                                <span asp-validation-for="AlternateMobileNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="ShopAddress" class="control-label"></label>
                                <input asp-for="ShopAddress" class="form-control" />
                                <span asp-validation-for="ShopAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label asp-for="ShopGSTNo" class="control-label"></label>
                                <input asp-for="ShopGSTNo" class="form-control" />
                                <span asp-validation-for="ShopGSTNo" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <!-- Row end -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            Cancel
                        </a>
                        <button type="submit" value="Create" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@* 

<h1>Edit</h1>

<h4>ShopDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpDetId" />
            <div class="form-group">
                <label asp-for="ShopOwnerName" class="control-label"></label>
                <input asp-for="ShopOwnerName" class="form-control" />
                <span asp-validation-for="ShopOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopNumber" class="control-label"></label>
                <input asp-for="ShopNumber" class="form-control" />
                <span asp-validation-for="ShopNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopAddress" class="control-label"></label>
                <input asp-for="ShopAddress" class="form-control" />
                <span asp-validation-for="ShopAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopGSTNo" class="control-label"></label>
                <input asp-for="ShopGSTNo" class="form-control" />
                <span asp-validation-for="ShopGSTNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@